<main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('/images/post-slide-1.jpg');">
                    <div class="img-bg-inner">
                      <h2>Create projects</h2>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p> -->
                    </div>
                  </a>
                </div>

                
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->


    <!-- ======= Project Detail Start ======= -->
    <section>
      <div class="" style="">
          <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                  <div class="row p-2 bg-white border rounded" style="width: 1118px;margin-left: 2px;">
                      <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/images/green1.jpg"></div>
                      <div class="col-md-6 mt-1">
                          <h5 style="    font-size: calc(1.3rem + .6vw);"><%= csvFile.fileName %></h5>
                          <div class="d-flex flex-row">
                              <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span></h5>
                                <div class="d-flex flex-row"></span>
                          </div>
                          <div class="file-name">
                            <%= csvFile.fileName %>
                        </div>
                          <input type="hidden" id="projectId" value="<%= csvFile._id %>">
                          <div class="mt-1 mb-1 spec-1"><span<%= csvFile._id %></span></div>
                          
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- ======= Project Detail End ======= -->


    <!-- ======= Create Issues Start ======= -->
    <!-- <section>
        <div class="container contact-form">
            <form method="POST" action="/issues/create" id="new-issues-form">
                <h3>Create issues</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Your Title *"  required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="author" class="form-control" placeholder="Your Author *"  required/>
                        </div>
                        <div class="form-group" style="margin-bottom: 10px;">
                            <p style="margin-top: 10px;
                            margin-bottom: 7px;">Choose issue Labels(multiple selection possible)</p>
                            
                            <input type="hidden" name="project" value="">
                            
                            
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Create Issue" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="description" class="form-control" placeholder="Your Descrition *" style="width: 100%; height: 150px;" required></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section> -->
    <!-- ======= Create Issues End ======= -->


    <!-- ======= List Issues Start ======= -->
    <section>
      <div class="">
        <h2 style="margin-left: 70px; text-align: center;">Issues List </h2>
        <!-- Search filter starts -->

          <center>
            <div class="search">
              <input  class="search-txt" id="search_by_title" type="text" name="" placeholder="Type to search with title">      
              <button class="search-btn" onclick="filtering('title')">Search</button>
           </div>
           
          </center>
        </div>
        <!-- Search filter ends -->

        
        <!-- Author filter dropdown starts -->

        <!-- Author filter dropdown ends -->


          <div class="d-flex justify-content-center row listing">
              <div class="col-md-10" >
                <center>
                  <!-- Labels filter dropdown starts -->

                  <!-- Labels filter dropdown ends -->


                  <div id="issues-list-container">
                    <div class="row p-2 bg-white border rounded" style="width: 1118px;" id="issue-<%= csvFile._id %>">
                        <div class="col-md-6 mt-1">
                            <h5><%= csvFile.fileName %></h5>
                            <!-- <table>
                                <thead>
                                    <tr>
                                    <% for(let h of head) { %>
                                        <th><%= h %></th>
                                    <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let row of data) { %>
                                    <tr>
                                        <% for(let key of Object.keys(row)) { %>
                                            <td><%= row[key] %></td>
                                        <% } %>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table> -->
                            <!-- data table  -->
                            <table id="sortTable">
                                <thead>
                                    <tr>

                                        <%for(let i=0; i<head.length; i++){%>
                                            <th>
                                                <div class="headRowHeading">
                                                    <%= head[i]%>
                                                        <i class="fa-solid " ></i>
                                                </div>
                                            </th>

                                            <%}%>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% for(let i=0; i<data.length; i++){ %>
                                        <tr>

                                            <% for(let j=0; j<head.length; j++){ %>
                                                <td>
                                                    <%= data[i][head[j]] %>
                                                </td>

                                                <% } %>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>

                    <!-- Pagination starts-->
                    <nav id="pagingNav" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="/csv_upload/details/?file_id=<%= file._id %>&page=1">First</a></li>
                            <li class="page-item">
                                <%if(page!=1){%>
                                    <a class="page-link" href="/csv_upload/details/?file_id=<%= file._id %>&page=<%=page-1%>">
                                        <%=page-1%>
                                    </a>
                                    <%}%>
                            </li>
                            <li class="page-item "><a class="page-link active-page">
                                    <%=page%>
                                </a></li>


                            <li class="page-item">
                                <%if(page!=totalPages){%>
                                    <a class="page-link" href="/csv_upload/details/?file_id=<%= file._id %>&page=<%=++page%>">
                                        <%=page%>
                                    </a>
                                    <%}%>
                            </li>

                            <li class="page-item">

                                <a class="page-link" href="/csv_upload/details/?file_id=<%= file._id %>&page=<%=totalPages%>">
                                    Last
                                </a>

                            </li>

                        </ul>
                    </nav>
                    <!-- Pagination ends-->
                    
                  </div>
                  
                </center>
              </div>
          </div>
      
    </section>
    <!-- ======= List Issues End ======= -->
    

  </main><!-- End #main -->