<div >

    <div class="container">
        <div class="button-container">

            <form id="new-todo-item" action="/todo/create">
                <div class="form-group">
                    <label style="text-align: left;padding: 4px 12px 0px 12px; height: 15px;" for="email">DESCRIPTION</label>
                    <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                    <input class="form-control" id="desc" type="desc" name="desc" placeholder="What do you need to do?" required>
                </div>
                <!-- <div class="row"> -->
                <div class="form-group ">
                    <label style="text-align: left;padding: 4px 12px 0px 12px; height: 15px;" for="email">CATEGORY</label>
                    <select id="category" name="category" class="form-control">
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="others">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="text-align: left;padding: 4px 12px 0px 12px; height: 15px;" for="email">DUE DATE</label>
                    <input class="form-control" id="selected_date" type="date" name="selected_date" placeholder="selected_date">          
                </div>
                <!-- </div> -->
            
                <div style=" height: 50px;width: 180px;">
                <!-- <img src="/images/plus.ico" height = 25px" width="25px"> -->
                <!-- <button type="submit" class="btn" style="background-color: rgb(48, 48, 48);height: 50px;width: 200px;"><p style="margin-left: 10px;"></p><img class= "fa" src="/images/plus.ico" height = 15px" width="15px"> ADD TASK</p> </button> -->
                <!-- <button type="submit" class="btn" style="background-color: rgb(48, 48, 48);height: 50px;width: 200px;"><i class="fa fa-plus-square" style="" aria-hidden="true"></i><span style="position: absolute;top: 5px;left: 5px;">ADD TASK</span></button> -->
                <!-- <button class="my-button" type="submit" class="btn" style="background-color: rgb(48, 48, 48); height: 50px; width: 200px;">
                    <i class="fa fa-plus-square" aria-hidden="true" style="margin-right: 10px;"></i>ADD TASK
                </button> -->
                <!-- <button type="submit" class="btn" style="background-color: rgb(48, 48, 48); height: 40px; width: 150px; display: flex; align-items: center; justify-content: center;">
                    <p>
                        <img class="fa" src="/images/plus.ico" height="15px" width="15px" style="margin-right: 10px;">
                        ADD TASK
                    </p>
                </button> -->
                <!-- <button type="submit" class="btn" style="background-color: rgb(48, 48, 48); height: 40px; width: 150px; display: flex; align-items: center; justify-content: center;">
                    <p>
                        <img class="fa" src="/images/plus.ico" height="15px" width="15px" style="    margin-right: 28px; margin-top: 5px"> 
                        ADD TASK
                    </p>
                </button> -->
                <center> <button type="submit" class="btn" style="background-color: rgb(48, 48, 48); height: 40px; width: 150px; display: flex; align-items: center; justify-content: center; margin-left: 225px; margin-top: 47px;">
                    <p>
                        <img class="fa" src="/images/plus.ico" height="15px" width="15px" style="    margin-right:10px"> <!-- Adjusted margin-right here -->
                    <span style="margin-right: 37px;color:#fff">ADD TASK</span> 
                    </p>
                </button></center>
                
                
                </div>
            </form>
            <button type="submit" class="btn" style="background-color: rgb(255 0 0); height: 40px; width: 150px;margin-top: -61px;
            margin-left: 378px;">
                <p style="margin-left: 0px;">
                    <img class="fa" src="/images/bin.png" height="18px" width="17px" style="margin-right: 6px;"> <!-- Added margin-right here -->
                    <span style="margin-right: 37px;color:#fff">DELETE TASK</span> 
                </p>
            </button>

            <div id="todo-list-container">
                <ul style=" list-style: none;padding: 0; margin: 0; ">
                    <% for(let i of todoList) {  %>
                        <li id = "item-<%= i._id %>">
                            <div class="form-group">
                                <input type="checkbox" name="delechack" class="delechack"  uid = <%= i._id %>>
                                    <p style="margin: -21px 42px 8px 83px; font-size: 15px;"><%= i.desc %></p>
                                    <p style="    margin: -9px 0px 9px 81px;" ><%= i.selected_date %></p>
                                
                                <div class="catesec" style="margin: -21px 31px 20px 284px;
                                font-size: 12px;
                                text-transform: uppercase;
                                background-color: red;
                                width: 100px;
                                height: 27px;
                                padding: 6px 0px 0px 17px;
                                color: #fff;">
                                    <%= i.category %>
                                </div>
                            </div>
                        </li>
                            <!-- <div class="editClass"><a href="/editdata/?id=<%=i._id %>">Edit</a></div> -->
                    <%  } %>
                </ul>

            </div>
        </div>
    </div>
</div>
<script src="/js/todo_app.js"></script>