        <link rel="stylesheet" href="/css/user_profile.css">
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

        <p> <%= locals.user._id %></p>
            <p> <%= profile_user.id %></p>

        <% if(locals.user._id == profile_user.id){ %>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST" >
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                <input type="file" name="avatar">
                <input type="submit"  value="Update">
            </form>
            
        <%}else{%>    
            <!-- else show only the profile info   /friendship/toggle/?id=<%=profile_user.id%>&type=Comment"-->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        <%} %>

        <a id="toggle-add-or-remove"  href="/friendship/toggle/?id=<%=profile_user.id%>">
            <% if(friendship_exist_flag){ %>
                Remove Friend
            <%}else{%>  
                Add friend
            <%} %>
        </a>
        <!-- importing this script for creating the comments -->
<script src="/js/profile.js"></script>


